body {
    margin: 0 5% 0 5%;
    font-family: 'Lato', sans-serif;
}

/** Logo **/

header img {
    width: 300px;
    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/** search bar **/

.search_bar {
    position: relative;
    display: flex;
    align-items: center;  
    width: 100%;
    margin: auto;
    font-size: 1.25rem;
    background-color: #E7E7E7;
}

.search_bar input {
    width: 100%;
    font-size: 1.25rem;
    height: 3.5rem;
    background-color: #E7E7E7;
    border: none;
    margin-left: 1rem;
    outline: none;
}

.error_text {
    color: red;
    position: absolute;
    top: -25px;
}

/**Filter**/

.red {
    background-color: #ED6454;
}

.blue {
    background-color: #3282F7;
}

.green {
    background-color: #68D9A4;
}

.filter_select {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.filter_select_trigger {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    margin-right: 5rem;
    text-decoration: none;
    color: white;
    width: 10rem;
    height: 4rem;
    border-radius: 5px;
    margin-top: 1.2rem;
}

.filter_select_trigger span {
    margin-left: 1rem;
    font-size: 20px;
    pointer-events: none;
}

.arrow {
    position: relative;
    height: 1rem;
    width: 1rem;
    margin-right: 0.4rem;
}

.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.2rem;
    height: 100%;
    transition: all 0.5s;
}

.arrow::after {
    background-color: white;
    transform: rotate(-45deg);
}

.active .arrow::after {
    left: 0.3rem;
    transform: rotate(45deg);
    background-color: white;
}

.active .arrow::before {
    transform: rotate(-45deg);
    background-color: white;
    right: 1.1rem;
}

.arrow::before {
    right: 1.4rem;
    transform: rotate(45deg);
    background-color: white;
}

.active .arrow {
    margin-right: 1rem;
}


/**TAG**/

.tag_content{
    border-radius: 0 0 5px 5px;
    color: white;
    padding: 0.5rem;
    position: absolute;
    display: grid;
    width: 498px;
    height: fit-content;
    grid-template-columns: repeat(3,1fr);
    font-size: 1rem;
    z-index: 3;
    pointer-events: none;
    opacity: 0;
    margin-top: -8px;
    overflow: hidden;
}

.tag_input {
    background-color: #3282F7;
    color: white;
    position: absolute;
    top: 17px;
    left: 0;
    padding-left: 0.5rem;
    outline: none;
    font-size: 20px;
    border: none;
    width: 350px;
}

#search_input_appareil {
    background-color: #68D9A4;
}

#search_input_ustensil {
    background-color: #ED6454;
}

.tag {
    line-height: 22px;
    margin-left: 0.1rem;
    cursor: pointer;
}

#tag_array {
    display: flex;
    flex-direction: row;
}

.tag_selected {
    margin-right: 1rem;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.tag_selected::after {
    content: "\f057";
    font-family: "Font Awesome 5 free";
    padding-left: 0.5rem;
}

.active {
    width: 514px;
}

.hidden {
    display: none;
}

/*ul active*/

.ul_active {
    opacity: 1;
    overflow-y: hidden;
    pointer-events: auto;
}

.ul_active li:hover {
    color: black;
}

.red {
    background-color: #ED6454;
}

.green {
    background-color: #68D9A4;
}

.blue {
    background-color: #3282F7;
}

/** Main ( recipe ) **/ 

#recipe_container{ 
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    grid-column-gap: 2%;
}

article {
    margin: 5% 0 5% 0;
    height: 400px;
    background-color: #c7bebe;
    border-radius: 3%;
    cursor: pointer;
    position: relative;
}

.recipe_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    margin-left: 1rem;
    margin-right: 1rem;
}

h4 i {
    margin-right: 0.5rem;
}

.recipe_card {
    position: absolute;
    bottom: 0;
    height: 250px;
    background-color: #E7E7E7;
}

.cook_method {
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
    overflow: hidden;
    height: 137px;
}

.description {
    width: 60%;
    margin-right: 0.8rem;
    
}

.ingredients {
    font-weight: 700;
    margin-right: 1rem;
    padding-left: 1rem;
}

ul {
    list-style-type: none;
    margin-left: 0;
}

.sr_only {
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.ingredient_container {
    overflow: hidden;
    line-height: 0.8rem;
    margin-right: 2rem;
}
.ingredient_container span {
    font-weight: bold;
}